*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
#container {
    /* border: 2px solid violet; */
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.048);

}
#login-page{
    box-shadow: 0.1px 0.1px 5px black;
border: 1.5px solid rgba(0, 0, 0, 0.356);
height: 80vh;
width: 30%;
background-color: white;

}
#heading{
    /* border: 1.9px solid black; */
    margin: 50px 50px;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: #cb46d3;
}
#input-box{
    /* border: 1px solid rebeccapurple; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items:baseline */
    width: 80%;
    margin: 0px auto;
}
#input-box label{
    /* border: red 1px solid; */
    font-size: 1.1rem;
    font: weight 1000px;
    /* margin-left: 10px; */
    color: #6b6d7c;

}
#input-box input{
    border:#6a6c75 solid 0.5px;
    margin: 6px 0px;
    padding: 5px 10px;
    border-radius: 4px;

}
#Email + label{
    /* border: 1px solid black; */
    margin-top: 20px;
}
#forgot-password{
/* border: 1px solid red; */
width: 50%;
margin: 0px auto;
text-align: center;
font-weight: 600;
cursor: pointer;
padding-top: 20px;
color: #cb46d3;


}
#btn-1{
    /* border: 1px solid black; */
    width: 60%;
    margin: 0px auto;
    margin-top: 30px;
}
#btn-1 button{
    /* border: 1px solid yellow; */
    width: 100%;
    border: none;
    padding: 20px 20px;
    border-radius: 30px;
    font-weight:bold;
    background-color: #cb46d3;
    color: rgb(255, 255, 255);
}

@media only screen and (max-width: 600px)
{
    
    #login-page{
        border: 1px solid black;
        width: 100%;
        height: 100vh;
    }
}
@media only screen and (min-width: 600px ) AND (max-width: 768px){
    #container{
        background-color: white;
    }
    #login-page{
        height: 100vh;
        width: 80%;
        border: none;
        box-shadow: none;
        
    }
}
@media only screen and (min-width: 768px ) AND (max-width: 1024px)
{
    #container{
        justify-content:center;
        /* align-content: flex-end; */
    }
    #login-page{
        width: 60%;
        height: 70vh;
    }
}
@media only screen and (min-width: 1024px )
{
    #login-page{
        height: 90vh;
    }
}